{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }}Inicio{% endblock %}

{% block article %}
<ol class="breadcrumb">
	<li class="active">Inicio</li>
</ol>
<div class="ufuturedesk-server-administration-preview">
	<div class="page-header">
		<h1><small>uFutureDesk</small></h1>
	</div>
	<img class="ufuturedesk-administration-preview-logo" src="{{ asset('img/logo.png') }}" />
	<ul class="ufuturedesk-administration-preview-info">
		<li>Producto: uFutureDesk Server</li>
		<li>Versión: {{ ufuturedesk.version }}</li>
		<li>Canal de distribución: {{ ufuturedesk.channel }}</li>
		<li>Idioma: {{ app.request.locale }} </li>
		<li>Entorno de ejecución: {{ app.environment }}</li>
		<li>Ruta de instalación: {{ documentRoot }}</li>
		<li>Dominio: {{ app.request.host }}</li>
	</ul>
</div>
<div class="ufuturedesk-school-administration-preview">
	<div class="page-header">
		<h1><small>{{ school.name }}</small></h1>
	</div>
	{% if school.logoPath is defined %}
		<img class="ufuturedesk-administration-preview-logo" src="{{ asset('uploads/school/img/' ~ school.logoPath) }}" witdh="144px" height="144" />
	{% endif %}
	<ul class="ufuturedesk-administration-preview-info">
		<li>Nombre: {{ school.name }}</li>
		<li>Dirección: {{ school.address }}</li>
		<li>Teléfono: <a href="tel:{{ school.telephone }}">{{ school.telephone }}</a></li>
		<li>Fax: <a href="fax:{{ school.fax }}">{{ school.fax }}</a></li>
		<li>Email: <a href="mailto:{{ school.email }}">{{ school.email }}</a></li>
		<a href="{{ path('admin_school_index') }}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
	</ul>
</div>
<div class="ufuturedesk-data-administration-preview-group">
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Administradores</small></h1>
		</div>
        <p>Número de administradores: {{ adminsNumber }}<p>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="admin-search" class="form-control" placeholder="Buscar administrador" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Profesores</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="teacher-search" class="form-control" placeholder="Buscar profesor" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Alumnos</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="student-search" class="form-control" placeholder="Buscar alumno" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Cursos</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="course-search" class="form-control" placeholder="Buscar curso" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Modalidades</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="modality-search" class="form-control" placeholder="Buscar modalidad" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Asignaturas</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="subject-search" class="form-control" placeholder="Buscar asignatura" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Exámenes</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="exam-search" class="form-control" placeholder="Buscar examen" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
	<div class="ufuturedesk-administration-data-preview">
		<div class="page-header">
			<h1><small>Tareas</small></h1>
		</div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <a href="{{ path('admin_admin_index') }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('admin_admin_create') }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
                <input type="search" name="task-search" class="form-control" placeholder="Buscar tarea" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
	</div>
</div>
{% endblock %}