{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }} Crear profesor{% endblock %}

{% block article %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Inicio</a></li>
        <li><a href="{{ path('admin_modality_index') }}">Modalidades</a></li>
        <li class="active">Crear profesor</li>
    </ol>
    {{ form_start(form, {
    'action':  path('admin_modality_edit'),
    'method': 'POST',
    'role': 'form'
    }) }}
    <fieldset>
        <legend>Datos de la modalidad</legend>
        <div class="form-group">
            <label>
                Nombre de la modalidad
                {{ form_widget(form.name, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </label>
        </div>
        <div class="form-group">
            <label>
                Curso
                {{ form_widget(form.course, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </label>
        </div>
    </fieldset>
    {{ form_rest(form) }}
    <input class="btn btn-warning" type="submit" value="Editar" />
{% endblock %}