{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }} {{ teacher }}{% endblock %}

{% block article %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Inicio</a></li>
        <li><a href="{{ path('admin_teacher_index') }}">Profesores</a></li>
        <li class="active">{{ teacher }}</li>
    </ol>
    <div class="row">
        <legend>Datos de usuario</legend>
        <div class="row">
            {% if teacher.photo is defined and teacher.photo is not null and teacher.photo is not empty %}
                <div class="col-md-4">
                    <img src="{{ asset('uploads/users/' ~ teacher.photo) }}" alt="{{ teacher }}" width="256px" height="256px" />
                </div>
            {% endif %}
            <div class="col-md-5">
                <p><b>Nombre de usuario: </b> {{ teacher.userName }}</p>
                <p><b>Nombre: </b> {{ teacher.name }}</p>
                <p><b>Apellidos: </b> {{ teacher.surname }}</p>
                <p><b>Email: </b> <a href="mailto:{{ teacher.email }}" >{{ teacher.email }}</a></p>
                <p><b>Direcci&oacute;n: </b> {{ teacher.address }}</p>
                <p><b>Tel&eacute;fono: </b> <a href="tel://{{ teacher.telephone }}" >{{ teacher.telephone }}</a></p>
            </div>
            <div class="col-md-3">
                <p>
                    <a type="button" class="btn btn-warning" href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-teacher-{{ teacher.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                </p>
                <p>
                    {% if teacher.active %}
                        <a type="button" class="btn btn-danger" href="{{ path('admin_user_disable', {'id': teacher.id}) }}">Desactivar usuario</a>
                    {% else %}
                        <a type="button" class="btn btn-success" href="{{ path('admin_user_recovery_password', {'id': teacher.id}) }}">Activar usuario</a>
                    {% endif %}
                </p>
                <p>
                    <a type="button" class="btn btn-danger" href="{{ path('admin_user_recovery_password', {'id': teacher.id}) }}">Resetear contrase&ntilde;a</a>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-delete-teacher-{{ teacher.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar profesor</h4>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de querer eliminar al profesor {{ teacher.name ~ ' ' ~ teacher.surname }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <a class="btn btn-danger" href="{{ path('admin_teacher_delete', {'id': teacher.id}) }}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}